div {
  display: flex;
  flex-direction: column;
  input {
    width: 200px;
    border: none;
    outline: none;
    margin: 3px 0;
    padding: 10px;
    background: #1b1b1b72;
    color: white;
    border-radius: 5px;
  }
}
